<!DOCTYPE HTML>
<html lang="en">
{% load static from staticfiles %}
<head>
	<meta charset="UTF-8">
    <title>{% block full_title %}Bingo - {% block title %}{% endblock %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bingo/style.css' %}" />
    {% if site_theme %}
        <link rel="stylesheet" type="text/css" href="{{ site_theme }}" />
    {% endif %}
    {% if user_theme %}
        <link rel="stylesheet" type="text/css" href="{{ user_theme }}" />
    {% endif %}
    <style>
{% block extra_style %}
{% endblock %}
    </style>
{% block extra_head %}
{% endblock %}
</head>
<body>
{% block header %}
<div class="header clf">
    <h1><a href="{% url 'bingo.views.main' %}"{% block sitename %}>Bingo</a>{% endblock %} - {% block headline %}{% endblock %}</h1>
</div>
{% if themes %}
    {% include "bingo/theme_chooser.html" %}
{% endif %}
{% endblock %}
{% block extra_content_top %}
{% endblock %}
<div class="content">
    {% block content %}
    {% endblock %}
</div>
{% block extra_content_bottom %}
{% endblock %}
</body>
</html>
