<!DOCTYPE HTML>
<html lang="en">
{% load static from staticfiles %}
{% load settings_value from bingo %}
<head>
	<meta charset="UTF-8">
    <title>{% block full_title %}Bingo - {% block title %}{% endblock %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bingo/style.css' %}" />
    {% with "THEME"|settings_value as theme %}
        {% if theme %}
            {% if theme|slice:":7" == "http://" or theme|slice:":8" == "https://" %}
                <link rel="stylesheet" type="text/css" href="{{ theme }}" />
            {% else %}
                <link rel="stylesheet" type="text/css" href="{% static theme %}" />
            {% endif %}
        {% endif %}
    {% endwith %}
    <style>
{% block extra_style %}
{% endblock %}
    </style>
{% block extra_head %}
{% endblock %}
</head>
<body>
{% block header %}
<div class="header">
    <h1><a href="{% url 'bingo.views.main' %}">Bingo</a> - {% block headline %}{% endblock %}</h1>
</div>
{% endblock %}
{% block extra_content_top %}
{% endblock %}
<div class="content">
    {% block content %}
    {% endblock %}
</div>
{% block extra_content_bottom %}
{% endblock %}
</body>
</html>
