<!DOCTYPE HTML>
<html lang="en">
{% load static from staticfiles %}
<head>
	<meta charset="UTF-8">
    <title>Bingo - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <style>
{% block extra_style %}
{% endblock %}
    </style>
{% block extra_head %}
{% endblock %}
</head>
<body>
{% block header %}
<div class="header">
    <h1><a href="{% url 'bingo.views.main' %}">Bingo</a> - {% block headline %}{% endblock %}</h1>
</div>
{% endblock %}
{% block extra_content_top %}
{% endblock %}
<div class="content">
    {% block content %}
    {% endblock %}
</div>
{% block extra_content_bottom %}
{% endblock %}
</body>
</html>
