{% load i18n %}
<ul class="board_list">
{% if total_boards and game.is_expired %}{# total_boards is only set on the overview page #}
<li>
    <b>{% trans "Topics:" %}</b>
    {% for wordvote in game.words_with_votes|slice:":10" %}
        {% if wordvote.percent > 80 %}
            {% if not forloop.first %}&bull;{% endif %}
            <span>{{ wordvote.word }}</span>
        {% endif %}
    {% endfor %}
</li>
{% endif %}
{% for board in boards %}
    {% if board.thumbnails_enabled %}
        <li class="thumbnail">
            <div class="board_thumbnail_box" style="border-color: {{ board.color }}">
                {% if show_board_created_date %}{{ board.created }}<br />{% endif %}
                <a href="{% url 'bingo-bingo' board.board_id %}">
                    <img class="thumbnail" src="{% url 'bingo-thumbnail' board_id=board.board_id voted=True %}" alt="[Thumbnail: {% trans 'Board' %} #{{ board.board_id }}]" title="{{ board.created }}" />
                    <br />
                    {% trans 'Board' %} #{{ board.board_id }} ({{ board.get_middle_field.word.word }})
                </a>
                {% if board == my_board %}{% trans '(your board)' %}{% endif %}
            </div>
        </li>
        {% if forloop.last %}
        <p style="clear: both"></p>
        {% endif %}
    {% else %}
    <li>
        <a href="{% url 'bingo-bingo' board.board_id %}">
            {% trans 'Board' %} #{{ board.board_id }} ({{ board.get_middle_field.word.word }})
        </a>
        {% if board == my_board %}{% trans '(your board)' %}{% endif %}
    </li>
    {% endif %}
{% endfor %}
{% if total_boards > 12 %}
<li><a href="{% url 'bingo-game' game_id=game.game_id %}">
    {% blocktrans count total_boards|add:-12 as board_count %}{{ board_count }} other board{% plural %}{{ board_count }} other boards{% endblocktrans %}
</a></li>
{% endif %}
</ul>
