{% load i18n %}
<ul class="board_list">
{% for board in boards %}
    <li style="color: {{ board.color }}">
        <span class="board_list_entry">
        <a href="{% url 'bingo.views.bingo' board.board_id %}">{% trans 'Board' %} #{{ board.board_id }}</a>
        {% if board == my_board %}{% trans '(your board)' %}{% endif %}
        </span>
    </li>
{% endfor %}
{% if total_boards > 10 %}
    <li><a href="{% url 'bingo.views.game' game_id=game.game_id %}">{% trans 'more ...' %}</a></li>
{% endif %}
</ul>
