{% extends 'bingo/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans 'Game #' %}{{ game.game_id }}{% endblock %}
{% block extra_head %}
    {{ block.super }}
    <script src="{% static 'bingo/js/board_list.js' %}"></script>
{% endblock %}
{% block headline %}{% trans 'Game #' %}{{ game.game_id }}{% endblock %}
{% block content %}
{% with game.bingoboard_set.all as boards %}
<div class="cf"></div>
    {% include "bingo/board_list.html" %}
{% endwith %}
<div style="text-align: center">
<div style="width: 60em;text-align: center;margin: 0 auto;">
    {% for wordvote in game.words_with_votes %}
    {% if wordvote.percent > 50 %}
        <span style="padding: 1ex;font-size: {{ wordvote.percent|add:40|stringformat:"f"}}%{% if wordvote.percent > 80 %};font-weight: bold{% endif %}">
        {{ wordvote.word }}({{ wordvote.votes }})
        </span>
    {% endif %}
    {% endfor %}
</div>
</div>
{% endblock %}
