{% extends 'bingo/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Startpage' %}{% endblock %}
{% block headline %}{% trans "start page" %}{% endblock %}

{% block content %}

{% if not my_board %}
    {% if can_start_game %}
        {% trans 'You seem not to have a bingo board for the current game' %}
        <p></p>
        {% include "bingo/forms.html" %}
    {% endif %}
{% else %}
    <p>
    {% trans 'Go to my board' %}:
    <a href="{% url 'bingo.views.bingo' my_board.board_id %}">
        {% trans 'Board' %} #{{ my_board.board_id }}
    </a>
    </p>
{% endif %}

{% if boards.count > 0 %}
<p>{% trans 'Current game:' %}<p>
<ul class="game_list">
    {% with current_game as game %}
        <li>
            <a href="{% url 'bingo.views.game' game_id=game.game_id %}">{% trans 'Game #' %}{{ game.game_id }}</a> ({{ game.created }})
        {% endwith %}
        {% with boards=boards.all|slice:":10" total_boards=boards.count game=current_game %}
            {% include "bingo/board_list.html" %}
        {% endwith %}
        </li>
</ul>
{% endif %}

{% if old_games.count > 0 %}
<p>
    {% trans 'View boards from older games:' %}
</p>
<ul class="game_list">
    {% for game in old_games|slice:'0:10' %}
    <li>
        <a href="{% url 'bingo.views.game' game_id=game.game_id %}">{% trans 'Game #' %}{{ game.game_id }}</a> ({{ game.created }})
        {% with boards=game.bingoboard_set.all|slice:":10" total_boards=game.bingoboard_set.count %}
            {% include "bingo/board_list.html" %}
        {% endwith %}
    </li>
    {% endfor %}
    {% if old_games|length > 10 %}
    <li><a href="{% url 'games_list' %}">{% trans 'older games' %}</a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}
