{% extends 'bingo/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans 'user profile:' %} {{ profile_user.username }}{% endblock %}
{% block extra_head %}
    {{ block.super }}
    <script src="{% static 'bingo/js/board_list.js' %}"></script>
    {% if twittercard_account %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="{{ twittercard_account }}" />
        <meta name="twitter:title" content="{{ site_title }} {% trans 'user profile:' %} {{ profile_user.username }}" />
        <meta name="twitter:description" content="{% blocktrans with name=profile_user.username times_played=boards.count %}{{ name }} has played {{ site_title }} {{ times_played }} times.{% endblocktrans %}" />
        {% if boards.count %}
            {% with boards.0 as board %}
            <meta name="twitter:image" content="{{ http_scheme }}://{{ http_host }}{% url 'bingo-image' board_id=board.board_id marked=True %}" />
            {% endwith %}
        {% endif %}
    {% endif %}
{% endblock %}
{% block headline %}{% trans 'user profile:' %} {{ profile_user.username }}{% endblock %}
{% block content %}
<h3>
{% if user == profile_user %}
    {% trans "Your bingo boards" %}
{% else %}
    {% blocktrans %}
    {{ profile_user }}'s bingo boards
    {% endblocktrans %}
{% endif %}
</h3>
{% with show_board_created_date=1 %}
    {% include "bingo/board_list.html" %}
{% endwith %}
{% endblock %}
