body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}
div.content {
    padding: 0.5ex 2ex;
}
h1 {
    margin: 0;
    background-color: darkgreen;
    color: white;
    padding: 1ex;
}
.bingofield {
    border: thin solid black;
    text-align: center;
    padding: 2em;
}
.bingofield.middle {
    background-color: #999;
    color: white;
}
ul.words li{
    float: left;
    list-style: none;
    width: 22em;
    border: thin solid black;
    padding: 1ex;
}
form.reclaim p {
    margin: 0;
}
form.create p {
    margin: 0;
}
ul.errorlist {
    list-style: none;
    padding: 0;
    display: inline;
}
ul.errorlist li {
    background-color: red;
    color: white;
    display: table;
    padding: 0.5ex 1ex;
}
