<!DOCTYPE HTML>
<html lang="en">
{% load static from staticfiles %}
<head>
	<meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <style>
{% block extrastyle %}
{% endblock %}
    </style>
{% block extrahead %}
{% endblock %}
</head>
<body>
{% block headline %}{% endblock %}
{% block extra_content_top %}
{% endblock %}
<div class="content">
    {% block content %}
    {% endblock %}
</div>
{% block extra_content_bottom %}
{% endblock %}
</body>
</html>
