{% extends 'base.html' %}
{% block title %} Bingo! {% endblock %}

{% block headline %}
<h1>Bingo!</h1>
{% endblock %}

{% block content %}
<table class="bingoboard" id="bingoboard">
    <tr>
    {% for field in fields %}
        <td class="bingofield{% if field.is_middle %} middle{% endif %}" data-word-id="{{ field.word.id }}">
            {{ field.word.word }}
        </td>
    {% if forloop.counter|divisibleby:5 %}
    </tr>
    <tr>
    {% elif forloop.last%}
    </tr>
    {% endif %}
    {% endfor %}
</table>

<ul class="words">
    {% for field in all_fields %}
    <li>
        {{ field.word.word }}
    </li>
    {% endfor %}
</ul>
{% endblock content %}
