{% extends 'base.html' %}
{% load i18n %}
{% block title %} Bingo! {% endblock %}
{% block extrastyle %}
    td.bingofield.active, li.word.active {
        background-color: {{ board.color }};
    }
{% endblock %}

{% block headline %}
<h1>Bingo #{{ board.board_id }}</h1>
{% endblock %}

{% block content %}
{% trans "Images:" %}
<a href="{% url 'bingo.views.image' board_id=board.board_id %}">{% trans "empty" %}</a>
<a href="{% url 'bingo.views.image' marked=True board_id=board.board_id %}">{% trans "marked" %}</a>
<a href="{% url 'bingo.views.image' voted=True board_id=board.board_id %}">{% trans "voted" %}</a>

<p></p>
<table class="bingoboard" id="bingoboard">
    <tr>
    {% for field in board_fields %}
    <td class="bingofield{% if field.is_middle %} middle{% endif %}{% if field.vote == True %} active{% elif field.vote == False %} veto{% endif %}" data-word-id="{{ field.word.id }}">
            {% if field.is_middle %}Bingo #{{ board.board_id }}<br />{% endif %}
            {{ field.word.word }}
        </td>
    {% if forloop.counter|divisibleby:5 %}
    </tr>
    <tr>
    {% elif forloop.last%}
    </tr>
    {% endif %}
    {% endfor %}
</table>

<ul class="words">
    {% for field in all_word_fields %}
    <li class="word{% if field.vote == True %} active{% elif field.vote == False %} veto{% endif %}">
        {{ field.word.word }}
    </li>
    {% endfor %}
</ul>
{% endblock content %}
