{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Bingo - Startpage' %}{% endblock %}
{% block headline %}
    <h1>Bingo!</h1>
{% endblock %}

{% block content %}

{% if not my_board %}
{% trans 'You seem not to have a bingo board for the current game' %}
<p></p>
{% include "forms.html" %}

{% else %}

<p>
    {% trans 'Go to my board' %}:
    <a href="{% url 'bingo.views.bingo' my_board.board_id %}">
        {% trans 'Board' %} #{{ my_board.board_id }}
    </a>
    </p>

{% endif %}

{% if boards.count > 0 %}
<p>
{% trans 'View a board from the current game:' %}
</p>
{% with boards=boards.all|slice:":10" total_boards=boards.count game=games.0 %}
    {% include "board_list.html" %}
{% endwith %}
{% endif %}

{% if games.count > 0 %}
<p>
    {% trans 'View boards from older games:' %}
</p>
<ul>
    {% for game in games|slice:'0:10' %}
    {% if game.bingoboard_set.count > 0 and game.id != my_board.game.id %}
    <li>
        <a href="{% url 'bingo.views.game' game_id=game.game_id %}">{% trans 'Game #' %}{{ game.game_id }}</a> ({{ game.created }})
        {% with boards=game.bingoboard_set.all|slice:":10" total_boards=game.bingoboard_set.count %}
            {% include "board_list.html" %}
        {% endwith %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
